{% extends 'base.html.twig' %}

{% block title %}Participants index
{% endblock %}

{% block body %}
	<h1>Participants index</h1>
	<a href="{{ path('app_classement_new1') }}" class="btn btn-secondary col-12">Create new</a>

	<table class="table">
		<thead>
			<tr>
				<th>Participant</th>
				<th>Epreuves</th>
				<th>Points</th>
				<th>Année</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for classement in classements %}
				<tr>
					<td>{{ classement.participants.nom }}</td>
					<td>{{ classement.sports.nom }}</td>
					<td>{{ classement.points }}</td>

					<td>{{ classement.tournois.annee }}</td>
					<td>
						<a href="{{ path('app_classement_show', {'id': classement.id}) }}" class="btn btn-warning">Voir</a>
						<a href="{{ path('app_classement_edit', {'id': classement.id}) }}" class="btn btn-secondary">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
